
.mint {

  height: 100%;
  width: 36%;
  margin-top: 7%;
  margin-left: 32%;
  align-items: center;
  border: 1px solid rgb(238, 238, 240);
  border-radius: 7%;

  h3 {
    color: white;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    letter-spacing: -0.03em;
    text-align: center;
    margin: 30px 0px 30px 0px;
    -webkit-filter: drop-shadow(2px 2px 2px #ffffff);
    &:hover {
      -webkit-filter: drop-shadow(5px 5px 5px #ffffff);
    }
  }

  p {
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: -0.02em;
      color: white;
      margin-top: 5px;
      text-align: center;
      -webkit-filter: drop-shadow(1px 1px 1px #ffffff);
    }

  p.t {
  margin-top: 3%;
  font-weight: 200;
}
  


  button {
        background-color: var(--color-blue);
        border: none;
        color: white;
        height: 30px;
        width: 120px;
        padding: 0px 16px;
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: -0.01em;
        transition: 120ms ease;
        border-radius: 8px;
        -webkit-filter: drop-shadow(1px 1px 1px #ffffff);
 
        &:hover {
          background-color: var(--color-black);
        }
      } 

}

.options {
  margin: 7% 10% 0% 10%;
}


.b1 {

  margin: 2% 2% 10% 36%;
}


.t1 {
  margin: 5% 25% 0% 1%;
    &:hover {
      -webkit-filter: drop-shadow(1px 1px 1px #ffffff);
    }
}

.t2 {
  margin: 5% 1% 00% 25%;
    &:hover {
      -webkit-filter: drop-shadow(1px 1px 1px #ffffff);
    }
}

